# runtime data
/data/*
!/data/.gitkeep
*.sqlite
*.sqlite-*
*.db
*.db-*
*.log
*.pid
focused-window.json

# Rust build/cache
/target/
/.cargo-cache/

# JS deps/build
node_modules/
/public.bak/
dist/
.tmp/
.cache/

# OS/editor
.DS_Store
.vscode/
.idea/
